/* MyCalendar.css */
.my-calendar-container {
    display: flex;
    justify-content: flex-start; /* Keeps the calendar aligned to the left */
    padding: 20px 20px 20px 220px; /* Top, right, bottom padding to 20px, left padding to 0 */
  }
  
  .react-calendar {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Adjust the calendar's title bar */
  .react-calendar__navigation {
    background-color: #a8d5ba; /* Adjusted for light green */
    color: white;
  }
  
  /* Style the active day */
  .react-calendar__tile--active {
    background: #a8d5ba; /* Consistent light green for active days */
    color: white;
    border-radius: 4px;
  }
  
  /* Hover effect on days */
  .react-calendar__tile:hover {
    background-color: #e9ecef;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .my-calendar-container {
      padding: 10px 10px 10px 0; /* Reduce padding on smaller screens */
    }
  }
  
  
  
  
  
  
  
  
  
  